.container {
  display: flex;
}

.bg_left {
  background-color: #1E1E1E; 
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg_right {
  background-color: #1b2a38;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23303f4c' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 50%;
  height: 100vh;
}

.login_card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #252A32; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login_subtitle {
  color: #B0B3B8; 
  text-align: center;
  margin-bottom: 20px;
}

.credits {
  color: #B0B3B8; 
  text-align: center;
  position: absolute;
  bottom: 40px;
}


@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .bg_left {
    width: 100%;
  }
  
  .bg_right {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .login_card {
    width: 90%;
  }

  .login_subtitle {
    font-size: 0.9rem;
  }
}