.standard_main {
  background-color: #1E1E1E;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.standard_main .main_title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-left: 5px;
  color: #E0E0E0;
}

.standard_main .silos_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

@media (max-width: 1500px) {
  .standard_main {
    flex-direction: column;
  }

  .standard_main .silos_container {
    width: 100%;
  }  
}

@media (max-width: 700px) {
  .standard_main {
    width: 100%;
  }
}